
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .site-item {
    position: relative;
    animation: fadeIn 0.5s ease-out;
    opacity: 0; 
    animation-fill-mode: forwards; 
  }
  
  // Задержка для каждой карточки
  .site-item:nth-child(1) { animation-delay: 0.1s; }
  .site-item:nth-child(2) { animation-delay: 0.2s; }
  .site-item:nth-child(3) { animation-delay: 0.3s; }
  .site-item:nth-child(4) { animation-delay: 0.4s; }
  .site-item:nth-child(5) { animation-delay: 0.5s; }

// Skeleton-анимация
@keyframes skeleton-loading {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #FAFAFA;
  }
  100% {
    background-color: #f0f0f0;
  }
}

.skeleton-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.skeleton-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.skeleton-image {
  width: 100%;
  height: 340px;
  background-color: #e0e0e0;
  border-radius: 8px;
  animation: skeleton-loading 1.5s infinite;
}

.skeleton-text {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
  flex-grow: 1;

  &:first-of-type {
    width: 100%;
  }

}


.site--card {
    .site-item {
        h6 {
            margin-top: 12px;
        }
        img {
            position: relative;
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: all 0.2s ease;
        }
    }
}