.site--image {
    position: relative;
    width: 100%;
    height: 100%; // Добавьте высоту, чтобы контейнер занимал место
    background-color: #fafafa; // Серая заглушка
    border-radius: 8px; // Добавьте скругление по умолчанию
    overflow: hidden; // Чтобы скругление работало корректно
    transition: all 0.2s ease;
  
    &:hover {
      border-radius: 8px; // Скругление при наведении
    }
  
    .placeholder {
      width: 100%;
      height: 100%;
      background-color: #fafafa; // Цвет заглушки
      position: absolute; // Заглушка поверх изображения
      top: 0;
      left: 0;
      z-index: 1; // Заглушка выше изображения
    }
  
    .content--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0; // Начальная прозрачность
      transition: opacity 0.3s ease, transform 0.2s ease; // Плавное появление (уменьшено до 0.3s)
      position: relative; // Чтобы изображение было выше заглушки
      z-index: 2;
  
      &.lazyload {
        opacity: 1; // Полная видимость после добавления класса
      }
  
      &:hover {
        border-radius: 8px; // Скругление при наведении
      }
    }
  } 