
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}


button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}


p {
  margin: 0;
}


hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 1em 0;
}


blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}